{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Django App</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <header>
      <h1>My Site</h1>
      {% if user.is_authenticated %}
          <table></table>
            <td><a href="/">Home</a></td>
            <td><a href="/inbox">Inbox</a></td>
            <td><a href="/sent">Sent</a></td>
            <td><a href="/drafts">Drafts</a></td>
            <td><a href="/message_create">Create Message</a></td>
            <td>{{ user.username }}</td>
            <td><a href="{% url 'logout' %}">logout</a></td>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}

      <hr>

    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>