<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            padding: 1.5em;
        }
        td {
            padding-right: 1em;
        }
    </style>
  </head>
  <body>
    <header>
      <h1>My Site</h1>
      {% if user.is_authenticated %}
          <table></table>
            <td><a href="/">Home</a></td>
            <td><a href="/inbox">Inbox</a></td>
            <td><a href="/sent">Sent</a></td>
            <td><a href="/drafts">Drafts</a></td>
            <td><a href="/message_create">Create Message</a></td>
            <td>{{ user.username }}</td>
            <td><a href="{% url 'logout' %}">logout</a></td>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}

      <hr>

    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>