{% extends 'messenger/base.html' %}

{% block content %}
  <h2>Drafts</h2>
    <div class="reduceMargin">
<p class="inlineText">Sender</p>
<p class="inlineText">Message Content</p>
<p class="inlineText">Date Message Sent</p>
</div>
    {% for message in filteredMessageObjects %}

           <p class="inlineText">{{message.receiver}}</p>
            <p class="inlineText">{{ message.text }}</p>
            <p class="inlineText">{{message.date}}</p>



        <form action="/message_edit.html" method="post">
               {% csrf_token %}

          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="message_edit">Update</a>
        </form>

    {% endfor %}




{% endblock %}