{% extends 'messenger/base.html' %}

{% block content %}
  <h2>Drafts</h2>
    <hr>

    {% for message in filtered_message_objects %}
    <form action="/message_edit.html" method="post" >
      
            
  


            {% csrf_token %}
            <div class="keep-inline"></div>

            
     
  <button name="message_edit" class="draftbuttonclass" type="submit" value="{{ message.id }}">


     <p class="inlineUser oneLineText">{{ message.receiver }}</p>
        <p class="spaceBetweenInline"></p>
        <p class="inlineText oneLineText">{{ message.text }}</p>
        <p class="spaceBetweenInline"></p>
        <p class="inlineDate oneLineText">{{ message.date | date:"F d, Y" }}</p>

          </form>
          <div class="keep-inline"></div>
     </button>

    {% endfor %}




{% endblock %}