{% extends 'messenger/base.html' %}

{% block content %}
  <h2>Drafts</h2>
    <hr>
    {% for message in filtered_message_objects %}
        <h5>{{ message.receiver }}</h5>
        <p>{{ message.text }}</p>
        <sup>{{ message.date }}</sup>
        <form action="/message_edit.html" method="post" >
            {% csrf_token %}
            <button name="message_edit" type="submit" value="{{ message.id }}">Edit</button>
        </form>
        <br>
        <hr>
    {% endfor %}



{% endblock %}