    
{% extends 'messenger/base.html' %}

{% block content %}

<h1 class="inboxHeader"> My Inbox </h1>


	<p class="newMessageButton"><a class="article-title btn btn-primary" href="{% url 'message-create'%}">New Message</a></p>

<div class="reduceMargin">
<p class="inlineText">Sender</p>
<p class="inlineText">Message Content</p>
<p class="inlineText">Date Message Sent</p> 
</div>

<hr>
    <ul>
        {% for m in messages %}
        	<p class="inlineText">{{m.sender}}</p>
            <p class="inlineText">{{ m.text }}</p>
            <p class="inlineText">{{m.date}}</p>
        {% endfor %}

    </ul>


  {%endblock%}


